// to list all colors ussed across the application

$black: #000;
$site-grey: #f8f8f8;
$mauvelous: #ee8795;
$silver-chalice: #adadad;
$sea-buckthorn: #f59926;
$picton-blue: #4aadde;
$wisteria: #ab75ad;
$radical-red: #f92f62;
